:root {
  --primary: #b16cea;
  --secondary: #ff5e69;
  --tertiary: #ff8a56;
  --quaternary: #ffa84b;
  --background: #fff;
  --text: #666;
}

body {
  background: var(--background);
  color: #333;
  font-family: var(--font-plus-jakarta-sans);
}